/****************/
/* Landing Page */
/****************/
.header-color {
  background: #348f50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #56b4d3,
    #348f50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #56b4d3,
    #348f50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #348f50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #56b4d3,
    #348f50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #56b4d3,
    #348f50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 150px;
  border-radius: 50%;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  /* text-align: center; */
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: white;
  font-size: 20px;
  padding: 1em;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
}

.social-links i {
  color: white;
  font-size: 2em;
  padding-bottom: 8px;
}

/* Unable to override this style */
/* .mdl-layout__header {
  background-color: transparent;
} */

/*****************/
/* Projects Page */
/*****************/
.projects-grid {
  display: flex;
}

/****************/
/* Contact Page */
/****************/
.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

/* .contact-grid h2 {
  font-family: "Anton", sans-serif;
} */

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
  width: "75%";
  margin: "auto";
  padding-top: "1em";
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 75%;
  margin: auto;
}

/* .contact-list {
  font-size: 30px;
} */

.contact-list i {
  font-size: 66px;
  padding-right: 3rem;
}
