// Override Bootstrap default styles
$border-radius: 10rem;

// @import "~bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

/****************************/
/* Body - Background Colour */
/****************************/
body {
  background: #348f50; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #56b4d3,
    #348f50
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #56b4d3,
    #348f50
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/****************/
/* Landing Page */
/****************/

.landing-body {
  margin: auto;
  // position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.landing-grid {
  // background: #348f50; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #56b4d3,
  //   #348f50
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #56b4d3,
  //   #348f50
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  /* position: fixed; */
  top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
}

.avatar-img {
  height: 150px;
  border-radius: 50%;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  /* text-align: center; */
  border-radius: 10px;

  h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
  }

  hr {
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
  }

  p {
    color: white;
    font-size: 20px;
    padding: 1em;
  }
}

.skill-icons {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;

  i {
    color: white;
    font-size: 2em;
    padding-bottom: 8px;
  }
}

/* Unable to override this style */
/* .mdl-layout__header {
    background-color: transparent;
  } */

/*****************/
/* Projects Page */
/*****************/
.projects-grid {
  display: flex;
}

/****************/
/* Contact Page */
/****************/
.contact-body {
  margin: auto;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  /* height: 100%; */
  background: white;
  color: black;
  margin-bottom: 20px;

  p {
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    width: 85%;
    margin: auto;
    padding: 1em 0;
  }

  hr {
    border-top: 3px dotted #348f50;
    width: 75%;
    margin: auto;
    padding: 5px 0;
  }
  .contact-list {
    span {
      font-family: "Oxygen", sans-serif;
      font-weight: bold;
      font-size: 14px;
    }

    i {
      font-size: 50px;
      padding-right: 2rem;
    }
  }
}
